/*
container splits items down the middle into columns
*/
.container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 120px;
    margin-left: 15%;
    margin-right: 15%;
}

/* Left side:
Contains pdf display
*/
/*
TODO: Make the pdf clickable through with buttons on the top
*/
.left-side {
    text-align: center;
}
.body_title {
    font-size: 35px;
    font-weight: 600;
    color: #252E2C;
    margin-bottom: 20px;
}
.mascot-container {
    /* background-color: #EAFFFC;
    height: 75%; */
    border-radius: 20px;
    background-color: #F5F8F5;
    margin: 0 30px;
    border: 2px solid #E9E9E9;
    box-shadow: 0 2px 20px -12px #B9B9B9, 0 2px 0 0 #D9D9D9;
}
.mascot-container img {
    width: 100%;
    border-radius: 20px;
}

/* Right side:
New reading:
    Users can upload new books to read
    After book is uploaded lets user go to the start reading page
Jump back in:
    Displays first page of the pdfs of the books the user has last read
    Lets user go to start reading with button
*/
/* TODO: 
    add backend slop to file upload
    Add backend to show the 2 recent books the user has read (idk how)
        Change image to pdf for the recent books
*/
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.new-reading {
    background-color: white;
    padding: 20px;
    border: 2px solid #E9E9E9;
    border-radius: 20px;
    box-shadow: 0 2px 20px -12px #B9B9B9, 0 2px 0 0 #D9D9D9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-reading p {
    font-size: 18px;
    color: #000000;
}
.new-reading svg {
    overflow: visible;
}
.upload-icon {
    width: 50px;
    margin-bottom: 10px;
}
.new-reading .home-btn {
    padding: 3px 60px;
}

.jump-back-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.book-card {
    text-align: center;
    background-color: #EAFFFC;
    border: 2px solid #E9E9E9;
    border-radius: 20px;
    box-shadow: 0 2px 20px -12px #B9B9B9, 0 2px 0 0 #D9D9D9;
    padding: 16px 30px;
}
.book-thumbnail {
    height: 160px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.book-card p {
    margin: 12px 0;
    color: #2b6777;
    font-style: italic;
    font-size: 18px;
}
.book-card .home-btn {
    padding: 3px 40px;
}